/* ========================  extra extra large device css start ================== */

@media (min-width: 1400px) {}

/* ======================== extra large device css start ================== */

@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* ======================== large device css start ================== */

@media (min-width: 992px) and (max-width: 1199.98px) {


    /* ===================== gallery part start ==================== */

    #gallery .gal-date {
        position: absolute;
        top: -165px;
        left: 11px;
        width: 46px;
    }

    #gallery .gal-text {
        padding-left: 15px;
    }

    #gallery .slick-dots li {
        margin: 0px 4px;
    }



    /* ===================== footer part start ==================== */

    #footer .dribbble-part .dribbble-one img{
        width: 100%;
    }

    #footer .dribbble-part .dribbble-two img{
        width: 100%;
    }
}

/* ======================== medium device css start ================== */

@media (min-width: 768px) and (max-width: 991.98px) {

    /* =========== navbar part start ============ */

    .main-menu {
        background: #736357;
    }

    .main-menu .navbar-brand img {
        padding: 10px 0;
    }

    .main-menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main-menu .navbar-toggler i {
        color: #fff;
    }

    .main-menu #navbarSupportedContent {
        text-align: center;
        background: #736357;
    }

    .main-menu .nav-item a {
        font-weight: 600;
        text-transform: uppercase;
    }

    .main-menu .nav-item a:hover {
        color: #fff;
    }

    /* ================ banner part start =============== */

    #banner {
        padding-top: 210px;
        padding-bottom: 190px;
    }

    #banner .banner-overlay p {
        padding: 10px 10px;
        margin-bottom: 45px;
        font-weight: 400;
    }

    #banner .banner-overlay a {
        padding: 15px 25px;
    }

    #banner .banner-overlay a:hover {
        background: #998675;
    }


    /* ==================== about part start ================== */

    #about {
        padding-top: 45px;
        padding-bottom: 70px;
    }

    #about .about-icon i {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #about .about-content:hover .about-icon i {
        color: #555555;
    }

    .about-text h3 {
        font-size: 24px;
        color: #555555;
        padding-bottom: 15px;
    }

    #about .about-content:hover .about-text h3 {
        color: #555555;
    }

    .about-text p::after {
        display: none;
    }

    #about .about-text {
        padding-bottom: 15px;
    }

    #about .about-text p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }


    /* ====================== project part start =============== */

    #project {
        padding-bottom: 70px;
        padding-top: 50px;
    }

    #project .project-head h2 {
        font-size: 40px;
    }

    #project .project-button button {
        padding: 5px 8px;
        margin: 0px 5px;
        background: #998675;
        border: 1px solid #998675;
        color: #ffffff;
    }

    #project .project-img::after {
        opacity: 1;
    }

    #project .img-icon {
        opacity: 1;
    }

    #project .project-item .img-text {
        background: #362f2d;
    }

    #project .project-item .img-text h2:hover {
        color: #c7b299;
    }

    #project .project-item:hover .img-text h2 {
        color: #c7b299;
    }

    #project .project-item:hover .img-text h5 {
        color: #fff;
    }

    #project .project-item .img-text h5 {
        color: #fff;
    }

    .medium-device-last-part {
        display: flex;
    }

    .medium-device-last-part-left {
        margin-right: 12px;
    }

    .medium-device-last-part-right {
        margin-left: 12px;
    }

    #project .project-link a:hover {
        background: #998675;
        ;
    }


    /* ===================== video part start ==================== */

    #video {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    #video .video-icon i {
        font-size: 35px;
        height: 70px;
        width: 70px;
        line-height: 71px;
        margin-bottom: 20px;
    }

    #video .video-text h3 {
        font-weight: 600;
    }

    #video .video-text p {
        padding: 0px 15px;
        font-weight: 400;
    }


    /* ===================== counter part start ==================== */

    #count {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #count .counter-item h2 {
        font-size: 28px;
        padding-top: 20px;
    }

    #count .counter-item h5 {
        font-weight: 500;
        font-size: 12px;
    }


    /* ===================== gallery part start ==================== */

    #gallery .gal-date {
        top: -385px;
        left: 25px;
    }

    #gallery .gallery-all:hover .gal-item::after {
        display: none;
    }

    #gallery .gallery-all .gal-overlay {
        border: 1px solid #362f2d;
        border-top: 0;
    }

    #gallery .gallery-all .gal-date h4 {
        background: #c7b299;
    }

    #gallery .gallery-all .gal-date h5 {
        background: #a48d72;
    }

    #gallery .gallery-all .gal-text {
        background: #362f2d;
    }

    #gallery .gallery-all .gal-text h2 {
        color: #c7b299;
    }

    #gallery .gallery-all .gal-text p {
        color: #ffffff;
    }

    #gallery .gallery-all {
        margin-bottom: 24px;
    }


    /* ===================== footer part start ==================== */

    #footer .footer-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #footer .footer-middle-text h6 {
        color: #c7b299;
    }

    #footer .footer-middle-text p {
        color: #ffffff;
    }

    #footer .footer-right-text a:hover {
        color: #00bff3;
    }

    #footer .footer-right-text p {
        font-size: 14px;
        color: #736357;
    }

    #footer .footer-right-text h6 {
        font-size: 12px;
        color: #959595;
    }

    #footer .dribbble-one img:first-child {
        margin-bottom: 10px;
    }

    #footer .dribbble-one img:last-child {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #footer .dribbble-two img:last-child {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #copyright {
        padding-top: 30px;
        padding-bottom: 40px;
        background: #111111;
    }

    #copyright .copy-left {
        text-align: center;
        margin-bottom: 10px;
    }

    #copyright .copy-right {
        text-align: center;
    }

    #copyright .copy-left ul li a {
        color: #c7b299;
    }

    #copyright .copy-right ul li a {
        color: #c7b299;
    }

    #copyright .copy-left ul li span {
        color: #959595;
        font-weight: 700;
    }


}

/* ======================== small device css start ================== */

@media (min-width: 576px) and (max-width: 767.98px) {

    /* =========== navbar part start ============ */

    .main-menu {
        background: #736357;
    }

    .main-menu .navbar-brand {
        margin-left: 10px;
    }

    .main-menu .navbar-brand img {
        padding: 10px 0;
    }

    .main-menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main-menu .navbar-toggler i {
        color: #fff;
    }

    .main-menu #navbarSupportedContent {
        text-align: center;
        background: #736357;
    }

    .main-menu .nav-item a {
        font-weight: 600;
        text-transform: uppercase;
    }

    /* ================ banner part start =============== */

    #banner {
        padding-top: 210px;
        padding-bottom: 190px;
    }

    #banner .banner-overlay h3 {
        font-size: 34px;
        padding-bottom: 10px;
    }

    #banner .banner-overlay h2 {
        font-size: 45px;
    }

    #banner .banner-overlay p {
        padding: 10px 10px;
        margin-bottom: 45px;
    }

    #banner .banner-overlay a {
        padding: 15px 25px;
        background: #998675;
    }


    /* ==================== about part start ================== */

    #about {
        padding-top: 45px;
        padding-bottom: 70px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    }

    #about .about-icon i {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #about .about-content:hover .about-icon i {
        color: #555555;
    }

    .about-text h3 {
        font-size: 24px;
        color: #555555;
        padding-bottom: 15px;
    }

    #about .about-content:hover .about-text h3 {
        color: #555555;
    }

    .about-text p::after {
        display: none;
    }

    #about .about-text {
        padding-bottom: 15px;
    }


    /* ====================== project part start =============== */

    #project {
        padding-bottom: 70px;
        padding-top: 50px;
    }

    #project .project-head h2 {
        font-size: 40px;
    }

    #project .project-button button {
        padding: 5px 8px;
        margin: 0px 5px;
        background: #998675;
        border: 1px solid #998675;
        color: #ffffff;
    }

    #project .project-img::after {
        opacity: 1;
    }

    #project .img-icon {
        opacity: 1;
    }

    #project .project-item .img-text {
        background: #362f2d;
    }

    #project .project-item .img-text h2:hover {
        color: #c7b299;
    }

    #project .project-item:hover .img-text h2 {
        color: #c7b299;
    }

    #project .project-item:hover .img-text h5 {
        color: #fff;
    }

    #project .project-item .img-text h5 {
        color: #fff;
    }

    /* ===================== video part start ==================== */

    #video {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    #video .video-icon i {
        font-size: 35px;
        height: 70px;
        width: 70px;
        line-height: 71px;
        margin-bottom: 20px;
    }

    #video .video-text h3 {
        font-weight: 600;
    }

    #video .video-text p {
        padding: 0px 15px;
        font-weight: 400;
    }

    /* ===================== counter part start ==================== */

    #count {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #count .counter-item h2 {
        font-size: 24px;
        padding-top: 20px;
    }

    /* ===================== gallery part start ==================== */

    #gallery .gal-date {
        top: -280px;
    }

    #gallery .gallery-all:hover .gal-item::after {
        display: none;
    }

    #gallery .gallery-all .gal-overlay {
        border: 1px solid #362f2d;
        border-top: 0;
    }

    #gallery .gallery-all .gal-date h4 {
        background: #c7b299;
    }

    #gallery .gallery-all .gal-date h5 {
        background: #a48d72;
    }

    #gallery .gallery-all .gal-text {
        background: #362f2d;
    }

    #gallery .gallery-all .gal-text h2 {
        color: #c7b299;
    }

    #gallery .gallery-all .gal-text p {
        color: #ffffff;
    }

    #gallery .gallery-all {
        margin-bottom: 24px;
    }


    /* ===================== footer part start ==================== */

    #footer .footer-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #footer .footer-middle-text h6 {
        color: #c7b299;
    }

    #footer .footer-middle-text p {
        color: #ffffff;
    }

    #footer .footer-right-text a:hover {
        color: #00bff3;
    }

    #footer .footer-right-text p {
        font-size: 16px;
        color: #736357;
    }

    #footer .footer-right-text h6 {
        font-size: 14px;
        color: #959595;
    }

    #footer .dribbble-one img:first-child {
        margin-bottom: 10px;
    }

    #footer .dribbble-one img:last-child {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #footer .dribbble-two img:last-child {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #copyright {
        padding-top: 30px;
        padding-bottom: 40px;
        background: #111111;
    }

    #copyright .copy-left {
        text-align: center;
    }

    #copyright .copy-right {
        text-align: center;
    }

    #copyright .copy-left ul li a {
        color: #c7b299;
    }

    #copyright .copy-right ul li a {
        color: #c7b299;
    }

    #copyright .copy-left ul li span {
        color: #959595;
        font-weight: 700;
    }
}

/* ======================== extra small device css start ================== */

@media (min-width: 460px) and (max-width: 575.98px) {

    /* =========== navbar part start ============ */

    .main-menu {
        background: #736357;
    }

    .main-menu .navbar-brand {
        margin-left: 10px;
    }

    .main-menu .navbar-brand img {
        padding: 10px 0;
    }

    .main-menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main-menu .navbar-toggler i {
        color: #fff;
    }

    .main-menu #navbarSupportedContent {
        text-align: center;
        background: #736357;
    }

    .main-menu .nav-item a {
        font-weight: 600;
        text-transform: uppercase;
    }

    /* ================ banner part start =============== */

    #banner {
        padding-top: 210px;
        padding-bottom: 190px;
    }

    #banner .banner-overlay h3 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    #banner .banner-overlay h2 {
        font-size: 45px;
    }

    #banner .banner-overlay p {
        padding: 3px 10px;
        margin-bottom: 45px;
    }

    #banner .banner-overlay a {
        padding: 15px 25px;
    }

    #banner .banner-overlay a:hover {
        background: #998675;
    }


    /* ==================== about part start ================== */

    #about {
        padding-top: 45px;
        padding-bottom: 70px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    }

    #about .about-icon i {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #about .about-content:hover .about-icon i {
        color: #555555;
    }

    .about-text h3 {
        font-size: 24px;
        color: #555555;
        padding-bottom: 15px;
    }

    #about .about-content:hover .about-text h3 {
        color: #555555;
    }

    .about-text p::after {
        display: none;
    }

    #about .about-text {
        padding-bottom: 15px;
    }


    /* ====================== project part start =============== */

    #project {
        padding-top: 50px;
        padding-bottom: 80px;
    }

    #project .project-button button {
        padding: 5px 5px;
        margin: 0px 2px;
        background: #998675;
        border: 1px solid #998675;
        color: #ffffff;
    }

    #project .project-item .img-text h2:hover {
        color: #c7b299;
    }

    #project .project-item:hover .img-text h2 {
        color: #c7b299;
    }

    #project .project-item:hover .img-text h5 {
        color: #fff;
    }

    #project .project-item .img-text h5 {
        color: #fff;
    }

    #project .project-img::after {
        opacity: 1;
    }

    #project .img-icon {
        opacity: 1;
    }

    #project .project-item .img-text {
        background: #362f2d;
    }


    /* ===================== video part start ==================== */

    #video {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    #video .video-icon i {
        font-size: 35px;
        height: 70px;
        width: 70px;
        line-height: 71px;
        margin-bottom: 20px;
    }

    #video .video-text p {
        padding: 0 0;
    }

    /* ===================== counter part start ==================== */

    #count {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #count .counter-item h2 {
        font-size: 24px;
        padding-top: 20px;
    }

    /* ===================== gallery part start ==================== */

    #gallery .gal-date {
        top: -259px;
    }

    #gallery .gallery-all:hover .gal-item::after {
        display: none;
    }

    #gallery .gallery-all .gal-overlay {
        border: 1px solid #362f2d;
        border-top: 0;
    }

    #gallery .gallery-all .gal-date h4 {
        background: #c7b299;
    }

    #gallery .gallery-all .gal-date h5 {
        background: #a48d72;
    }

    #gallery .gallery-all .gal-text {
        background: #362f2d;
    }

    #gallery .gallery-all .gal-text h2 {
        color: #c7b299;
    }

    #gallery .gallery-all .gal-text p {
        color: #ffffff;
    }

    #gallery .gallery-all {
        margin-bottom: 24px;
    }

    /* ===================== footer part start ==================== */

    #footer .footer-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #footer .footer-middle-text h6 {
        color: #c7b299;
    }

    #footer .footer-middle-text p {
        color: #ffffff;
    }

    #footer .footer-right-text a:hover {
        color: #00bff3;
    }

    #footer .dribbble-one img:first-child {
        margin-bottom: 10px;
    }

    #footer .dribbble-one img:last-child {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #footer .dribbble-two img:last-child {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #copyright {
        padding-top: 30px;
        padding-bottom: 40px;
        background: #111111;
    }

    #copyright .copy-left {
        text-align: center;
    }

    #copyright .copy-right {
        text-align: center;
    }

    #copyright .copy-left ul li a {
        color: #c7b299;
    }

    #copyright .copy-right ul li a {
        color: #c7b299;
    }

    #copyright .copy-left ul li span {
        color: #959595;
        font-weight: 700;
    }
}

/* ======================== extra extra small device css start ================== */

@media (min-width: 330px) and (max-width: 459.98px) {

    /* =========== navbar part start ============ */

    .main-menu {
        background: #736357;
    }

    .main-menu .navbar-brand {
        margin-left: 10px;
    }

    .main-menu .navbar-brand img {
        padding: 10px 0;
    }

    .main-menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main-menu .navbar-toggler i {
        color: #fff;
    }

    .main-menu #navbarSupportedContent {
        text-align: center;
        background: #736357;
    }

    .main-menu .nav-item a {
        font-weight: 600;
        text-transform: uppercase;
    }

    /* ================ banner part start =============== */

    #banner {
        padding-top: 180px;
        padding-bottom: 100px;
    }

    #banner .banner-overlay h3 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    #banner .banner-overlay h2 {
        font-size: 45px;
    }

    #banner .banner-overlay p {
        padding: 3px 10px;
        margin-bottom: 45px;
    }

    #banner .banner-overlay a {
        padding: 15px 25px;
    }

    #banner .banner-overlay a:hover {
        background: #998675;
    }


    /* ==================== about part start ================== */

    #about {
        padding-top: 45px;
        padding-bottom: 70px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    }

    #about .about-icon i {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #about .about-content:hover .about-icon i {
        color: #555555;
    }

    .about-text h3 {
        font-size: 24px;
        color: #555555;
        padding-bottom: 15px;
    }

    #about .about-content:hover .about-text h3 {
        color: #555555;
    }

    .about-text p::after {
        display: none;
    }

    #about .about-text {
        padding-bottom: 15px;
    }


    /* ====================== project part start =============== */

    #project {
        padding-top: 50px;
        padding-bottom: 80px;
    }

    #project .project-button button {
        padding: 5px 5px;
        margin: 5px 2px;
        background: #998675;
        border: 1px solid #998675;
        color: #ffffff;

    }

    #project .project-item .img-text h2:hover {
        color: #c7b299;
    }

    #project .project-item:hover .img-text h2 {
        color: #c7b299;
    }

    #project .project-item:hover .img-text h5 {
        color: #fff;
    }

    #project .project-item .img-text h5 {
        color: #fff;
    }

    #project .project-img::after {
        opacity: 1;
    }

    #project .img-icon {
        opacity: 1;
    }

    #project .project-item .img-text {
        background: #362f2d;
    }


    /* ===================== video part start ==================== */

    #video {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    #video .video-icon i {
        font-size: 35px;
        height: 70px;
        width: 70px;
        line-height: 71px;
        margin-bottom: 20px;
    }

    #video .video-text p {
        padding: 0 0;
    }

    /* ===================== counter part start ==================== */

    #count {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #count .counter-item h2 {
        font-size: 20px;
        padding-top: 15px;
    }

    #count .counter-item h5{
        font-weight: 400;
        font-size: 10px;
    }

    #count .col{
        margin: 5px;
        padding: 0;
    }

    /* ===================== gallery part start ==================== */

    #gallery .gallery-head {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    #gallery {
        padding-bottom: 40px;
    }

    #gallery .gal-date {
        top: -180px;
    }

    #gallery .gallery-all:hover .gal-item::after {
        display: none;
    }

    #gallery .gallery-all .gal-overlay {
        border: 1px solid #362f2d;
        border-top: 0;
    }

    #gallery .gallery-all .gal-date h4 {
        background: #c7b299;
    }

    #gallery .gallery-all .gal-date h5 {
        background: #a48d72;
    }

    #gallery .gallery-all .gal-text {
        background: #362f2d;
    }

    #gallery .gallery-all .gal-text h2 {
        color: #c7b299;
    }

    #gallery .gallery-all .gal-text p {
        color: #ffffff;
    }

    #gallery .gallery-all {
        margin-bottom: 24px;
    }

    #gallery .gal-text {
        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 20px;
    }

    /* ===================== footer part start ==================== */

    #footer .footer-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #footer .footer-middle-text h6 {
        color: #c7b299;
    }

    #footer .footer-middle-text p {
        color: #ffffff;
    }

    #footer .footer-right-text a:hover {
        color: #00bff3;
    }

    #footer .dribbble-one img:first-child {
        margin-bottom: 10px;
    }

    #footer .dribbble-one img:last-child {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #footer .dribbble-two img:last-child {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #copyright {
        padding-top: 30px;
        padding-bottom: 40px;
        background: #111111;
    }

    #copyright .copy-left {
        text-align: center;
    }

    #copyright .copy-right {
        text-align: center;
    }

    #copyright .copy-left ul li a {
        color: #c7b299;
    }

    #copyright .copy-right ul li a {
        color: #c7b299;
    }

    #copyright .copy-left ul li span {
        color: #959595;
        font-weight: 700;
    }
}
